//- views/partials/footer.pug
//- Reusable footer component

footer.footer
  .footer__container
    .footer__brand
      h3.footer__logo HotelEase
      p.footer__tagline Our vision is to provide convenience and help increase your sales business.
      .footer__socials
        a.footer__social-link(href="#" aria-label="Facebook"): i.fab.fa-facebook-f
        a.footer__social-link(href="#" aria-label="Twitter"): i.fab.fa-twitter
        a.footer__social-link(href="#" aria-label="Instagram"): i.fab.fa-instagram

    .footer__col
      h4.footer__heading About
      ul.footer__list
        li: a.footer__link(href="#") How it works
        li: a.footer__link(href="#") Featured
        li: a.footer__link(href="#") Partnership
        li: a.footer__link(href="#") Business Relation

    .footer__col
      h4.footer__heading Community
      ul.footer__list
        li: a.footer__link(href="#") Events
        li: a.footer__link(href="#") Blog
        li: a.footer__link(href="#") Podcast
        li: a.footer__link(href="#") Invite a friend

    .footer__col
      h4.footer__heading Socials
      ul.footer__list
        li: a.footer__link(href="#") Discord
        li: a.footer__link(href="#") Instagram
        li: a.footer__link(href="#") Twitter
        li: a.footer__link(href="#") Facebook

  .footer__bottom
    p.footer__copy &copy;2026 HotelEase. All rights reserved
    .footer__legal
      a.footer__link(href="#") Privacy &amp; Policy
      a.footer__link(href="#") Terms &amp; Condition
